## Read Write in Pandas

. CSV
. Excel
. HTML
. SQL

In [1]:
import pandas as pd

In [2]:
pd.read_csv('Data/emaildata.csv')

        Aadarsha.Dhakal@outlook.Com
0                aadarsha@yahoo.com
1              aadarshahr@gmail.com
2        aadarshamaharjan@gmail.com
3         aadarshashiksha@yahoo.com
4          aadesh_neupane@yahoo.com
..                              ...
194      aashishtiwari_98@yahoo.com
195          aashisregmee@gmail.com
196          aashraya_gems@live.com
197  aashutosh_investment@yahoo.com
198    aashutosh.pyakurel@gmail.com

[199 rows x 1 columns]

In [3]:
emails = pd.read_csv('Data/emaildata.csv')
emails.head()

  Aadarsha.Dhakal@outlook.Com
0          aadarsha@yahoo.com
1        aadarshahr@gmail.com
2  aadarshamaharjan@gmail.com
3   aadarshashiksha@yahoo.com
4    aadesh_neupane@yahoo.com

In [9]:
emails.to_csv('My_output', index=False)

In [10]:
pd.read_csv('My_output')

        Aadarsha.Dhakal@outlook.Com
0                aadarsha@yahoo.com
1              aadarshahr@gmail.com
2        aadarshamaharjan@gmail.com
3         aadarshashiksha@yahoo.com
4          aadesh_neupane@yahoo.com
..                              ...
194      aashishtiwari_98@yahoo.com
195          aashisregmee@gmail.com
196          aashraya_gems@live.com
197  aashutosh_investment@yahoo.com
198    aashutosh.pyakurel@gmail.com

[199 rows x 1 columns]

In [11]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine('sqlite:///:memory:')

In [17]:
emails.to_sql('email_table', engine)

In [20]:
sqlemails = pd.read_sql('email_table', engine)

In [21]:
sqlemails.head()

   index Aadarsha.Dhakal@outlook.Com
0      0          aadarsha@yahoo.com
1      1        aadarshahr@gmail.com
2      2  aadarshamaharjan@gmail.com
3      3   aadarshashiksha@yahoo.com
4      4    aadesh_neupane@yahoo.com