In [12]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [13]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [14]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [15]:
inside

[1, 2, 3, 1, 2, 3]

In [16]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [17]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [18]:
df

             A         B
G1 1 -3.028569  0.758864
   2 -0.425010 -0.478435
   3 -0.232810  0.258937
G2 1  0.422576 -1.451027
   2 -0.647078  0.014293
   3  1.559015 -1.912742

In [19]:
df.loc['G1']

          A         B
1 -3.028569  0.758864
2 -0.425010 -0.478435
3 -0.232810  0.258937

In [22]:
df.loc['G1',1]

A   -3.028569
B    0.758864
Name: (G1, 1), dtype: float64

In [23]:
df['A']

G1  1   -3.028569
    2   -0.425010
    3   -0.232810
G2  1    0.422576
    2   -0.647078
    3    1.559015
Name: A, dtype: float64

In [25]:
df.index.names = ['Groups','Num']

In [26]:
df

                   A         B
Groups Num
G1     1   -3.028569  0.758864
       2   -0.425010 -0.478435
       3   -0.232810  0.258937
G2     1    0.422576 -1.451027
       2   -0.647078  0.014293
       3    1.559015 -1.912742

In [27]:
df.loc['G2',1]['B']

-1.4510266044319888

In [ ]:
df.xs