In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from nltk.corpus import stopwords

In [2]:
raw_data = pd.read_csv("https://raw.githubusercontent.com/sunnysai12345/News_Summary/master/news_summary_more.csv")

In [3]:
raw_data.head()

,headlines,text
0,upGrad learner switches to career in ML & Al w...,"Saurav Kant, an alumnus of upGrad and IIIT-B's..."
1,Delhi techie wins free food from Swiggy for on...,Kunal Shah's credit card bill payment platform...
2,New Zealand end Rohit Sharma-led India's 12-ma...,New Zealand defeated India by 8 wickets in the...
3,Aegon life iTerm insurance plan helps customer...,"With Aegon Life iTerm Insurance plan, customer..."
4,"Have known Hirani for yrs, what if MeToo claim...",Speaking about the sexual harassment allegatio...

In [4]:
text = raw_data['text']
summary = raw_data['headlines']

In [5]:
text[2]

"New Zealand defeated India by 8 wickets in the fourth ODI at Hamilton on Thursday to win their first match of the five-match ODI series. India lost an international match under Rohit Sharma's captaincy after 12 consecutive victories dating back to March 2018. The match witnessed India getting all out for 92, their seventh lowest total in ODI cricket history."

In [6]:
summary[2]

"New Zealand end Rohit Sharma-led India's 12-match winning streak"

In [7]:
len(text)

98401

In [8]:
len(summary)

98401

In [9]:
raw_data.drop_duplicates(subset=['headlines','text'], inplace=True)

In [10]:
text = raw_data['text']
summary = raw_data['headlines']

In [11]:
len(text)

98379

In [12]:
len(summary)

98379

In [13]:
text[4]

'Speaking about the sexual harassment allegations against Rajkumar Hirani, Sonam Kapoor said, "I\'ve known Hirani for many years...What if it\'s not true, the [#MeToo] movement will get derailed." "In the #MeToo movement, I always believe a woman. But in this case, we need to reserve our judgment," she added. Hirani has been accused by an assistant who worked in \'Sanju\'.'

In [14]:
#PRE-PROCESSING 
contraction_mapping = {"ain't": "is not", "aren't": "are not","can't": "cannot", "'cause": "because", "could've": "could have", "couldn't": "could not",

                           "didn't": "did not", "doesn't": "does not", "don't": "do not", "hadn't": "had not", "hasn't": "has not", "haven't": "have not",

                           "he'd": "he would","he'll": "he will", "he's": "he is", "how'd": "how did", "how'd'y": "how do you", "how'll": "how will", "how's": "how is",

                           "I'd": "I would", "I'd've": "I would have", "I'll": "I will", "I'll've": "I will have","I'm": "I am", "I've": "I have", "i'd": "i would",

                           "i'd've": "i would have", "i'll": "i will",  "i'll've": "i will have","i'm": "i am", "i've": "i have", "isn't": "is not", "it'd": "it would",

                           "it'd've": "it would have", "it'll": "it will", "it'll've": "it will have","it's": "it is", "let's": "let us", "ma'am": "madam",

                           "mayn't": "may not", "might've": "might have","mightn't": "might not","mightn't've": "might not have", "must've": "must have",

                           "mustn't": "must not", "mustn't've": "must not have", "needn't": "need not", "needn't've": "need not have","o'clock": "of the clock",

                           "oughtn't": "ought not", "oughtn't've": "ought not have", "shan't": "shall not", "sha'n't": "shall not", "shan't've": "shall not have",

                           "she'd": "she would", "she'd've": "she would have", "she'll": "she will", "she'll've": "she will have", "she's": "she is",

                           "should've": "should have", "shouldn't": "should not", "shouldn't've": "should not have", "so've": "so have","so's": "so as",

                           "this's": "this is","that'd": "that would", "that'd've": "that would have", "that's": "that is", "there'd": "there would",

                           "there'd've": "there would have", "there's": "there is", "here's": "here is","they'd": "they would", "they'd've": "they would have",

                           "they'll": "they will", "they'll've": "they will have", "they're": "they are", "they've": "they have", "to've": "to have",

                           "wasn't": "was not", "we'd": "we would", "we'd've": "we would have", "we'll": "we will", "we'll've": "we will have", "we're": "we are",

                           "we've": "we have", "weren't": "were not", "what'll": "what will", "what'll've": "what will have", "what're": "what are",

                           "what's": "what is", "what've": "what have", "when's": "when is", "when've": "when have", "where'd": "where did", "where's": "where is",

                           "where've": "where have", "who'll": "who will", "who'll've": "who will have", "who's": "who is", "who've": "who have",

                           "why's": "why is", "why've": "why have", "will've": "will have", "won't": "will not", "won't've": "will not have",

                           "would've": "would have", "wouldn't": "would not", "wouldn't've": "would not have", "y'all": "you all",

                           "y'all'd": "you all would","y'all'd've": "you all would have","y'all're": "you all are","y'all've": "you all have",

                           "you'd": "you would", "you'd've": "you would have", "you'll": "you will", "you'll've": "you will have",

                           "you're": "you are", "you've": "you have"}

In [21]:
import re
def text_cleaner(input_text):
    input_text = input_text.lower()
    input_text = re.sub(r'\([^)"]*\)#', '', input_text)
    tokens = (w for w in input_text.split() if not w in stopwords.words('english'))
    result = []
    for i in tokens:
        result.append(i)
    return result

In [ ]:
cleaned_text = []
cleaned_summary = []

for word in raw_data['text']:
    cleaned_text.append(text_cleaner(word))
    
for word in raw_data['headlines']:
    cleaned_summary.append(text_cleaner(word))

In [19]:
data = pd.DataFrame(data= {'text':cleaned_text, 'summary':cleaned_summary})

In [20]:
data.head()

,text,summary
0,saurav kant an alumnus of upgrad and iiit pg p...,upgrad learner switches to career in ml al wit...
1,kunal shah credit card bill payment platform c...,delhi techie wins free food from swiggy for on...
2,new zealand defeated india by wickets in the f...,new zealand end rohit sharma led india match w...
3,with aegon life iterm insurance plan customers...,aegon life iterm insurance plan helps customer...
4,speaking about the sexual harassment allegatio...,have known hirani for yrs what if metoo claims...

In [22]:
#count number of times word occur and remove less used word
word2count={}

for line in data['text']:
    for word in line.split():
        if word not in word2count:
            word2count[word]=1
        else:
            word2count[word]+=1
            
for line in data['summary']:
    for word in line.split():
        if word not in word2count:
            word2count[word]=1
        else:
            word2count[word]+=1

AttributeError: 'list' object has no attribute 'split'

In [ ]:
word2count

In [ ]:
#creating vocab with removed less occuring words
vocab = {}
word_int = 0
for word, count in word2count.items():
    if count>3:
        vocab[word]=word_int
        word_int +=1

In [ ]:
vocab

In [ ]:
#lets add with START and END, we will use padding later
data['summary'] = data['summary'].apply(lambda x : 'START'+ x + 'END')

In [ ]:
data['summary']

In [ ]:
#addon tokens
tokens = ["START","END", "PAD", "OUT"]
word_count = len(vocab)
for token in tokens:
    vocab[token]= word_count
    word_count +=1

In [ ]:
#input in encoder
encoder_inp = []
for line in data['text']:
    lst = []
    for word in line.split():
        if word not in vocab:
            lst.append(vocab['<OUT>'])
        else:
            lst.append(vocab[word])
    encoder_inp.append(lst)

In [ ]:
decoder_inp = []
for line in data['summary']:
    lst = []
    for word in line.split():
        if word not in vocab:
            lst.append(vocab['<OUT>'])
        else:
            lst.append(vocab[word])
    decoder_inp.append(lst)

In [22]:
text_cleaner("I have a very good friend in Nepal")

['good', 'friend', 'nepal']